.footer {
  background-color: #131313;
  color: #fbfbfb;
  padding: 3rem 0rem;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}
.footer-logo,
.footer-links,
.footer-services,
.footer-contact {
  width: 100%;
}
.footer-logo p {
  font-size: 12px;
}
.footer-socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.social {
  color: #fbfbfb;
  margin: 0 0 1rem;
}
.footer a {
  color: #fbfbfb;
  text-decoration: none;
  font-size: 12px;
}
.footer h3 {
  font-size: 25px;
}
